# Node modules
node_modules/

# Log files
*.log

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# NPM package lock
package-lock.json

# Kraken Trading History & OHLCVT
/backend/historical-data
/node-data-sync/historical-data

#Todo
todo.txt

fast-api-demo/
fast-api-be/
nextjs-dashboard/
nextjs-fe/
